<!DOCTYPE html>
<html lang="pt-br" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liga Heineken 2022</title>
    <link rel="icon" href="data:,">
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body {
font-family: 'Roboto', sans-serif;
}
</style>


</head>
<body style="background-color:black; color:#ffffff;">
<div style="background-color:black;color:white;">
    <br/>
    <br/>
<center>
    <img src="{{get_escudo}}" width="300" height="300">
<br/>
    <h1>{{get_nome}}</h1>
    <h1>{{fim_de_temporada}}</h1>

<br/>
<br/>
<a class='btn btn-dark' href="/premiacao">Premiações</a>
</br>
</br>

<a class='btn btn-dark' href="/participantes">Participantes</a>
<!--<a class='btn btn-dark' href="/scouts">Scouts</a>-->
<!--<a class='btn btn-dark' href="/partidas">Partidas</a>-->
<!--&lt;!&ndash;<a class='btn btn-dark' href="/times">Liga</a>&ndash;&gt;-->
<a class='btn btn-dark' href="/pontuacoes">Pontuações</a>
<a class='btn btn-dark' href="/class">Classificação</a>
<a class='btn btn-dark' href="/stats">Estatísticas</a>
<a class='btn btn-dark' href="/media">Médias</a>
<!--<a class='btn btn-dark' href="/destaques">Destaques</a>-->

    </br>
    </br>
<a class='btn btn-dark' href="/liberta">Copa Liberta - 1º Turno</a>
<a class='btn btn-dark' href="/matamataprimturno">Mata Mata - 1º Turno</a>
<a class='btn btn-dark' href="/liberta2">Copa Liberta - 2º turno</a>
<a class='btn btn-dark' href="/matamatasegturno">Mata Mata - 2º Turno</a>

</center>


</div>

</body>
</html>