<!DOCTYPE html>
<html lang="pt-br" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liga Heineken 2022 - Scouts</title>

</head>
<body style="background-color:black; color:#ffffff;">
<div style="background-color:black;color:white;">
    <br/>
    <br/>

<center>
     <table border="1">
        <tr> <th colspan="11" align="center"> Partidas - Rodada {{ rodada }} </th> </tr>

        <tr>

            {% for k, v in get_list.items() %}
<tr>
                {% for chave, valor in v.items() %}

                    {% if (chave == 'Escudo_Casa' or chave == 'Escudo_Visitante') %}
                       <td align="center"> <img src="{{ valor }}" width="30" height="30"></td>
                    {% else %}

                        <td align="center"><font color="white">{{valor}}</font></td>

                    {% endif %}

                {% endfor %}
</tr>
            {% endfor %}



        </tr>
    </table>
</center>


</div>

</body>
</html>