<!DOCTYPE html>
<html lang="pt-br" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liga Heineken 2023 - Premiação</title>
<link rel="icon" href="data:,">

<style>

.card {
  width: 100%;
  justify-content: center;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
}

table.myFormat tr td { font-size: 12px; font-family: 'Roboto', sans-serif; text-align: center;}
th { font-size: 12px; font-family: 'Roboto', sans-serif;}

td { white-space: nowrap; }
td>.truncate { white-space: nowrap; }

@media screen and (max-width: 425px) {
  .card {
  width: auto;
  justify-content: center;
}

}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 12px;
overflow-x: hidden;
}

</style>

</head>
<body style="background-color:black; color:#ffffff;display: flex;justify-content: center;">
<div class="card" style="background-color:black;color:white;">
    <br/>
<center>

    <table>
      <td valign = "top">
     <table border="1" style="float: left">
        <thead>
        <tr> <th class="col-fixed" colspan="1" align="center"> Premio </th>
         <th class="col-fixed" colspan="1" align="center"> Time </th>
         <th class="col-fixed" colspan="1" align="center"> $$$ </th>

         </tr>
        </thead>


                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão Geral </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{get_lider}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 945,00 </td>
                </tr>
                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{vice_campeao}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 420,00 </td>
                </tr>
                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Terceiro Lugar </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{terc_colocado}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 210,00 </td>
                </tr>
                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Quarto Lugar </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{quarto_colocado}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 105,00 </td>
                </tr>
                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 1º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{lider_prim_turno}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 210,00 </td>
                </tr>
                <tr>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 2º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{lider_seg_turno}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 210,00 </td>
                </tr>

                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>

                 <thead>
                <tr> <th class="col-fixed" colspan="1" align="center"> Premio Mata-Mata </th>
                 <th class="col-fixed" colspan="1" align="center"> Time </th>
                 <th class="col-fixed" colspan="1" align="center"> $$$ </th>

                 </tr>
                </thead>


                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 1º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{campeao}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 393,75 </td>
                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 1º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{vice}}</td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 131,25 </td></tr>

                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 2º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{campeao_seg_turno}} </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 393,75 </td>
                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 2º Turno </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{vice_seg_turno}} </td>
                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 131,25 </td></tr>


    </table>
        </td>

        <td></td>

<!--        <td valign = "top">-->

<!--    <table border="1" style="float: left">-->
<!--               <thead>-->
<!--        <tr> <th class="col-fixed" colspan="1" align="center"> Premio Mata-Mata </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> Time </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> $$$ </th>-->

<!--         </tr>-->
<!--        </thead>-->


<!--            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 1º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{campeao}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 481,54 </td>-->
<!--                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 1º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{vice}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 160,51 </td></tr>-->

<!--        <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 2º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{campeao_seg_turno}} </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 481,54 </td>-->
<!--                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 2º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{vice_seg_turno}} </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 160,51 </td></tr>-->

<!--    </table>-->
<!--        </td>-->

              <td></td>

  <td valign = "top">

    <table border="1" style="float: left">
              <thead>
        <tr> <th class="col-fixed" colspan="1" align="center"> Time </th>
         <th class="col-fixed" colspan="1" align="center"> Rodadas </th>
         <th class="col-fixed" colspan="1" align="center"> $$$ </th>

         </tr>
        </thead>

            {% for keys, values in get_prem.items() %}

                <tr class="enty-table">
                    <td class="col-fixed" width="12%" style="white-space: nowrap; text-align: center; font-weight:bold;">
                        {{keys}}
                    </td>
                    {% for chave, valor in values.items() %}
                        {% if valor is float() %}
                            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$  {{ "%.2f"|format(valor) }}</td>
                        {% else %}
                            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold" >{{ valor }}</td>
                        {% endif %}
                        {% endfor %}
            {% endfor %}
    </table>
        </td>

              <td></td>

     <td valign = "top">

    <table border="1" style="float: left">
              <thead>
        <tr> <th class="col-fixed" colspan="1" align="center"> Time </th>
         <th class="col-fixed" colspan="1" align="center"> $$$ Total </th>

         </tr>
        </thead>

            {% for keys, values in premiacao_total.items() %}

                <tr class="enty-table">
                    <td class="col-fixed" width="12%" style="white-space: nowrap; text-align: center; font-weight:bold;">
                        {{keys}}
                    </td>
                    {% for chave, valor in values.items() %}
                        {% if valor is float() %}
                            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$  {{ "%.2f"|format(valor) }}</td>
                        {% else %}
                            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold" >{{ valor }}</td>
                        {% endif %}
                        {% endfor %}
            {% endfor %}
    </table>
        </td>

              <td></td>

</table>
</center>
</div>

</body>
</html>
































<!--<!DOCTYPE html>-->
<!--<html lang="pt-br" xmlns:color="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Liga Heineken 2023 - Premiação</title>-->
<!--     <link rel="icon" href="data:,">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<!--    <style>-->

<!--    body {-->
<!--font-family: 'Roboto', sans-serif;-->
<!--font-size: 11px;-->
<!--width: 400px;-->
<!--margin:0 auto;-->
<!--background-color: black;-->
<!--}-->

<!--    .content {-->
<!--  max-width: 800px;-->
<!--  margin: auto;-->
<!--  font-size: 12px;-->
<!--}-->

<!--#table {-->
<!--    display: table;-->
<!--    background-color: black;-->
<!--    color: white;-->
<!--    }-->

<!--.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {-->
<!--	border: 2px solid;-->
<!--	text-align: center;-->
<!--}-->

<!--.table-sm > tbody > tr > td, .table-sm > tbody > tr > th, .table-sm > tfoot > tr > td, .table-sm > tfoot > tr > th, .table-sm > thead > tr > td, .table-sm > thead > tr > th {-->
<!--	border: 2px solid;-->
<!--	text-align: center;-->
<!--}-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="content" align="center">-->
<!--    <div id="table" align="center" >-->

<!--<br/>-->

<!--            <table class="table table-bordered table-sm">-->
<!--         <thead>-->
<!--        <tr> <th class="col-fixed" colspan="1" align="center"> Premio </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> Time </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> $$$ </th>-->

<!--         </tr>-->
<!--        </thead>-->


<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão Geral </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{get_lider}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 1080.00 </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{vice_campeao}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 480.00 </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Terceiro Lugar </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{terc_colocado}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 240.00 </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Quarto Lugar </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{quarto_colocado}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 120.00 </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 1º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{lider_prim_turno}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 240.00 </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 2º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{lider_seg_turno}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 240.00 </td>-->
<!--                </tr>-->

<!--    </table>-->
<!--</br>-->

<!--    <table class="table table-bordered table-sm">-->
<!--         <thead>-->
<!--        <tr> <th class="col-fixed" colspan="1" align="center"> Premio Mata-Mata </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> Time </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> $$$ </th>-->

<!--         </tr>-->
<!--        </thead>-->


<!--            <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 1º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{campeao}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 450.00 </td>-->
<!--                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 1º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{vice}}</td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 150.00 </td></tr>-->

<!--        <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Campeão 2º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{campeao_seg_turno}} </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 450.00 </td>-->
<!--                <tr><td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">Vice Campeão 2º Turno </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold"> {{vice_seg_turno}} </td>-->
<!--                <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">R$ 150.00 </td></tr>-->

<!--    </table>-->
<!--</br>-->

<!--            <table class="table table-bordered table-sm">-->
<!--         <thead>-->
<!--        <tr> <th class="col-fixed" colspan="1" align="center"> Time </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> Rodadas </th>-->
<!--         <th class="col-fixed" colspan="1" align="center"> $$$ </th>-->

<!--         </tr>-->
<!--        </thead>-->

<!--             {% for items in get_list %}-->
<!--                    <tr>-->
<!--                {% for keys in items %}-->

<!--                    <td class="col-fixed" style="white-space: nowrap; text-align: center; font-weight:bold">{{keys}}</td>-->

<!--                {% endfor %}-->
<!--                        </tr>-->
<!--            {% endfor %}-->


<!--    </table>-->







<!--    </div>-->

<!--    </div>-->

<!--</body>-->
<!--</html>-->